<div class="title">

</div>

<div class="container">
    <mat-card class="card">
        <mat-card-title>bartolo</mat-card-title>
        <mat-card-content>
            <p><strong>Telefono</strong> +56932753019 </p>
            <p><strong>email</strong> +56932753019 </p>
            <p><strong>Codigo Pais</strong> +56932753019 </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button routerLink="ListaClientes">Volver</button>
        </mat-card-actions>
    </mat-card>
</div>


